@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.body {
  background-color: hsl(0, 0%, 95%);
}

.wrapper {
  margin: 10%;
}

.container {
  padding: 10px;
}

.container:hover {
  position: relative;
  box-shadow: 0 0 10px #808080;
   -webkit-transform: scale(1.05);
   -ms-transform: scale(1.05);
   -o-transform: scale(1.05);
   transform: scale(1.05);
   z-index: 1000;
}

.car-img {
  padding: 30px;
}

.subtitle-row {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 30px;
  padding-left: 40px;
}

.desc-row {
  /* font-family: 'Lexend Deca', sans-serif; */
  padding: 40px;
  font-size: 15px;
}

.btn-row {
  padding: 30px 40px 30px 40px;
}

.sedans-col {
  background-color: hsl(31, 77%, 52%);
  color: hsla(0, 0%, 100%, 0.75);
  padding: 15px;
}

.suvs-col {
  background-color: hsl(184, 100%, 22%);
  color: hsla(0, 0%, 100%, 0.75);
  padding: 15px;
}

.luxury-col {
  background-color: hsl(179, 100%, 13%);
  color: hsla(0, 0%, 100%, 0.75);
  padding: 15px;
}

@media (max-width: 1440px) {
  .sedans-col {
    border-radius: 5px 0 0 5px;
  }

  .luxury-col {
    border-radius: 0 5px 5px 0;
  }
}

@media (max-width: 575px) {
  .sedans-col {
    border-radius: 5px 5px 0 0;
  }

  .luxury-col {
    border-radius: 0 0 5px 5px;
  }
}

.learnMoreHover:hover {
  background-color: Transparent;
  color: white;
  border-color: white;
}

.sedansLearnMore {
  background-color: white;
  color: hsl(31, 77%, 52%);
  border-radius: 20px;
  border-color: white;
}

.suvsLearnMore {
  background-color: white;
  color: hsl(184, 100%, 22%);
  border-radius: 20px;
  border-color: white;
}

.luxLearnMore {
  background-color: white;
  color: hsl(179, 100%, 13%);
  border-radius: 20px;
  border-color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
